html {
    background-image: url("bgg.png");
}
h1 {
    text-align: center;
    color: white;
    background-color: #F88379;
    font-family: "Times New Roman", Times, serif;
    border: 2px dotted blue;
    padding: 10px, 15px, 10px, 15px;
    width: 250px;
    margin-bottom: 20px;   
}
p {
    background-color: hsl(283, 93%, 84%);
    text-align: justify;
    font-style: italic;
    padding: 20px;
    border: 3px black;
    border-right-style: dotted;
    border-top-style: dashed;
    border-left-style: double;
    border-right-style: solid;
    border-bottom-style: hidden;
    width: 500px;
}
span {
    font-style: bold, italic;
    color: rgb(151, 90, 182);
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;
}